

<p>Thank you, <%=@message.name%>, for contacting Pitcairn Aviation LLC.</p> 
<p>We appreciate your interest in Pitcairn Aviation LLC and we will do our best to respond to your message as soon as possible. Our team strives to provide excellent customer service and we look forward to assisting you with your aviation needs.</p> 
<br>
<br>
<p>
  The team at Pitcairn Aviation LLC<br>
  <a href="tel:1-610-495-7000">1-610-495-7000</a><br>
  <a href="mailto:info@pitcairnaviation.com">info@pitcairnaviation.com</a>
</p>
<br>
<br>
  -------- Your Form Submission Details --------
<br>
<br>
<p>Name: <%=@message.name%></p>
<p>Phone: <%=@message.phone%></p>
<p>Email: <%=@message.email%></p>
<p>Message: </p>
<p><%=@message.body%></p>