<nav class="flex flex-row justify-center lg:justify-between items-center bg-gray-600 font-thin text-white font-semibold py-1 px-6">
  <div class="flex-row gap-8 hidden lg:flex" >
    <%= link_to "Pitcairn Flight Academy", "https://pitcairnflightacademy.com",target: "_blank", class: "hover:text-black"%>
    <%= link_to "Penn Air Repair", "#", class: "hover:text-black"%>
    <%= link_to "PennJet Aircraft Management", "#", class: "hover:text-black"%>
    <%= link_to "Heritage Field Airport", "http://heritagefield.org/", target: "_blank", class: "hover:text-black"%>
    
  </div>
  <div class="text-2xl font-header text-neutral-100">
    <%= link_to "(610) 495-7000", "tel:(610) 495-7000", class: "hover:text-black" %>
  </div>

  <%# BACKLINK AREA #%>
  <div class="text-neutral-900 text-xs absolute z-0 overflow-hidden -left-[100rem]">
    <%= link_to "Pitcairn Aviation Website Designed and Developed by Right Rudder Marketing", "https://rightruddermarketing.com"%>
  </div>
</nav>