
<nav class="sticky top-0 z-50 h-20 lg:h-15 flex flex-row justify-between items-center bg-gradient-to-r from-red-700 to-red-600 text-white drop-shadow-2xl transform-gpu  border-slate-200 ">
  <div class="pl-5 lg:pl-3 lg:pt-2 z-50">
    <%= link_to root_path, data: { turbo: false } do %>
      <%= image_tag "pitcairn-logo4nht.webp", alt: "Pitcairn Aviation Logo", class: "w-24 lg:w-48 top-0"%>
    <% end %>
  </div>



  
  <!--Button-->
  <div class="mr-3 justify-end items-center gap-10 font-semibold text-xl lg:flex hidden">
    
  <%= link_to "OUR SERVICES", "services", class: "hover:text-white link-underline" %> 
    <%= link_to "PILOT INFORMATION", "pilot_tech", class: "hover:text-white link-underline"%>
    <%= link_to "NEWS AND EVENTS", "news_events", class: "hover:text-white link-underline"%>
       <%= link_to "ABOUT US", 'about_us',class: "hover:text-white link-underline"%>
  
    
    <button class="btn-primary border border-white bg-red-600 hover:bg-red-500 text-xl text-white font-bold rounded-2xl" >
    <%= link_to "CONTACT US", 'contact',class: "hover:text-white link-underline"%>
    </button>
  </div>
  <div class="lg:hidden mr-2 " x-data="{ open: false }">
    <%= render "shared/header_nav_mobile_menu"%>
  </div>
</nav>




