
<%# Head / Meta Data %>
<% title("News | Pitcairn Aviation LLC") %>
<% meta_description("Stay informed with Pitcairn Aviation LLC's blog featuring aviation industry trends, airfield events, and more. Subscribe now for news, events, and promotions!") %>
<% meta_keywords("Pitcairn Aviation LLC, blog posts, aviation industry trends, airfield events, news, updates, promotions, subscribe, stay informed") %>


<%= render "shared/header"%>

<header class="w-full bg-coffeenow bg-cover h-screen-3/4 lg:h-screen-2/4 bg-center flex justify-center items-center  ">

<section class="px-3 py-5  lg:py-10 font-header">
    <div class="grid lg:grid-cols-2 items-center justify-items-center gap-5">
        <div class="order-2 lg:order-1 flex flex-col justify-center items-center">
            <p class="text-5xl font-bold md:text-7xl text-red-800">Stay UPDATED</p>
           <p class="mt-2 text-4xl font-semibold text-center text-white">News, Events and Promos</p>
           
        </div>
        <div class="order-1 lg:order-2">
       
        
       
        </div>
    </div>
</section>
</header>


<!-- news -->

<section class="flex flex-col lg:flex-row-reverse pt-10 pb-0 lg:py-10 bg-gradient-to-t lg:bg-gradient-to-l from-gray-200 to-gray-300">
  <div class="flex flex-col items-center lg:w-1/2 p-text">
    
    <h3 class="text-5xl font-semibold pb-10 font-header mx-5 text-center py-10">News</h3>
    
    <p class="w-3/4 py-2 text-justify">
    Here, you’ll find that we don’t just offer baseline services to our clients. The Pitcairn Aviation LLC team is dedicated to ensuring you have the best access to events, relevant information in the aviation space, and our extensive community of pilots and aviation professionals.
    </p>
    <div class="py-5">
    <button class="text-lg md:text-2xl bg-black text-white py-3 px-5 mt-10 hover:bg-red-600 rounded-xl border-white">What’s New?</button>
    </div>
  </div>
  <div class="flex flex-col items-center lg:w-1/2">
    <%=image_tag "commercial-plane-flying.webp", alt: "Commercial plane flying through the clouds", class: "lg:h-screen-2/3 lg:rounded-2xl lg:drop-shadow-2xl"%>
  </div>
</section>



<!-- sub events-->
<section class="bg-gradient-to-t lg:bg-gradient-to-l from-gray-200 to-gray-400">

<ul class="grid grid-cols-1 xl:grid-cols-3 gap-y-10 gap-x-6 items-start p-8">
    <li class="relative flex flex-col sm:flex-row xl:flex-col items-start">
        <div class="order-1 sm:ml-6 xl:ml-0">
            <h3 class="mb-1 text-slate-900 font-semibold dark:text-slate-200">
                <span class="mb-1 block text-sm leading-6 text-red-600">May 10th – 12th 2024</span>3rd Annual Heritage Field (KPTW) Fly-In Arrival and Departure Procedures</h3>
            <div class="prose prose-slate prose-sm text-black ">
                <p> <ol class="list-decimal pl-6">
                
                <li>3rd Annual Heritage Field (KPTW) Fly-In: May 10-12, 2024. Pilots should expect increased VFR traffic during daylight hours within 10 NM of the airport area during these dates.Participating aircraft may not be equipped with ADS-B or were not originally certificated with an electrical system, or that have not subsequently been certified with such a system installed. </li> </ol></p>
            </div><a class="group inline-flex items-center h-9 rounded-full text-sm font-semibold whitespace-nowrap px-3 focus:outline-none focus:ring-2 bg-slate-100 text-slate-700 hover:bg-slate-200 hover:text-slate-900 focus:ring-slate-500 dark:bg-slate-700 dark:text-slate-100 dark:hover:bg-slate-600 dark:hover:text-white dark:focus:ring-slate-500 mt-6"
                href="http://www.heritagefield.org/events/" target="_blank">Read
                more<span class="sr-only">,Lorem ipsum, Lorem ipsum, Lorem ipsums</span><svg
                    class="overflow-visible ml-3 text-slate-300 group-hover:text-slate-400 dark:text-slate-500 dark:group-hover:text-slate-400"
                    width="3" height="6" viewBox="0 0 3 6" fill="none" stroke="currentColor" stroke-width="2"
                    stroke-linecap="round" stroke-linejoin="round">
                    <path d="M0 0L3 3L0 6"></path>
                </svg></a>
        </div> <%=image_tag "Image-12-15-23-at-12.58-PM-1024x786.webp", alt: "Student pilot taking a discovery flight", class: "nline-block rounded shadow-lg border border-merino-400"%>  
    </li>
    <li class="relative flex flex-col sm:flex-row xl:flex-col items-start">
        <div class="order-1 sm:ml-6 xl:ml-0">
            <h3 class="mb-1 text-slate-900 font-semibold dark:text-slate-200">
                <span class="mb-1 block text-sm leading-6 text-red-600">Lorem ipsum</span>Lorem ipsum, Lorem ipsum, Lorem ipsums</h3>
            <div class="prose prose-slate prose-sm text-black">
                <p>Vestibulum dapibus erat vel augue luctus, eget fermentum ligula fermentum. Maecenas vel nunc nec justo fringilla laoreet. Sed at fringilla lectus, nec auctor dui. Vivamus ut sem nec justo eleifend facilisis eu eu sem. </p>
            </div><a
                class="group inline-flex items-center h-9 rounded-full text-sm font-semibold whitespace-nowrap px-3 focus:outline-none focus:ring-2 bg-slate-100 text-slate-700 hover:bg-slate-200 hover:text-slate-900 focus:ring-slate-500 dark:bg-slate-700 dark:text-slate-100 dark:hover:bg-slate-600 dark:hover:text-white dark:focus:ring-slate-500 mt-6"
                href="">Read
                more<span class="sr-only">, Lorem ipsum, Lorem ipsum, Lorem ipsums</span><svg
                    class="overflow-visible ml-3 text-slate-300 group-hover:text-slate-400 dark:text-slate-500 dark:group-hover:text-slate-400"
                    width="3" height="6" viewBox="0 0 3 6" fill="none" stroke="currentColor" stroke-width="2"
                    stroke-linecap="round" stroke-linejoin="round">
                    <path d="M0 0L3 3L0 6"></path>
                </svg></a>
        </div> <%=image_tag "pilot.webp", alt: "Student pilot taking a discovery flight", class: "nline-block rounded shadow-lg border border-merino-400"%>  
    </li>
    <li class="relative flex flex-col sm:flex-row xl:flex-col items-start">
        <div class="order-1 sm:ml-6 xl:ml-0">
            <h3 class="mb-1 text-slate-900 font-semibold dark:text-slate-200">
                <span class="mb-1 block text-sm leading-6 text-red-600">Lorem ipsum</span>Lorem ipsum,
                Lorem ipsum,</h3>
            <div class="prose prose-slate prose-sm text-black">
                <p>Vestibulum dapibus erat vel augue luctus, eget fermentum ligula fermentum. Maecenas vel nunc nec justo fringilla laoreet. Sed at fringilla lectus, nec auctor dui. Vivamus ut sem nec justo eleifend facilisis eu eu sem. </p>
            </div><a
                class="group inline-flex items-center h-9 rounded-full text-sm font-semibold whitespace-nowrap px-3 focus:outline-none focus:ring-2 bg-slate-100 text-slate-700 hover:bg-slate-200 hover:text-slate-900 focus:ring-slate-500 dark:bg-slate-700 dark:text-slate-100 dark:hover:bg-slate-600 dark:hover:text-white dark:focus:ring-slate-500 mt-6"
                href="">Read
                more<span class="sr-only">, Lorem ipsum, Lorem ipsum, Lorem ipsums</span><svg
                    class="overflow-visible ml-3 text-slate-300 group-hover:text-slate-400 dark:text-slate-500 dark:group-hover:text-slate-400"
                    width="3" height="6" viewBox="0 0 3 6" fill="none" stroke="currentColor" stroke-width="2"
                    stroke-linecap="round" stroke-linejoin="round">
                    <path d="M0 0L3 3L0 6"></path>
                </svg></a>
        </div> <%=image_tag "pilot.webp", alt: "Student pilot taking a discovery flight", class: "nline-block rounded shadow-lg border border-merino-400"%>  
    </li>
</ul>

</section>

<%= render "shared/footer"%>