<%# Head / Meta Data %>
<% title("Pilot Information | Pitcairn Aviation LLC") %>
<% meta_description("") %>
<% meta_keywords("") %>



<%= render "shared/header"%>

<header class="w-full  bg-pilotinfo bg-cover h-screen-3/4 lg:h-screen-2/4 bg-center flex justify-center items-center  ">

<section class="px-3 py-5  lg:py-10 font-header">
    <div class="grid lg:grid-cols-2 items-center justify-items-center gap-5">
        <div class="order-2 lg:order-1 flex flex-col justify-center items-center">
            <p class="text-4xl font-bold md:text-6xl text-neutral-50">PILOT INFORMATION </p>
           
            <p class="mt-2 text-3xl md:text-3xl text-center text-neutral-50">Our commitment as an FBO and our FAA details</p>
           
            
        </div>
        
    </div>
</section>
</header>







<!--   body1-->





<section class="flex flex-col lg:flex-row pt-10 pb-0 lg:py-10 bg-white">
  <div class="flex flex-col items-center lg:w-1/2 p-text">
    
    <h3 class="text-5xl font-semibold pb-10 font-header mx-5 text-center">ABOUT <span class="text-red-600">This FBO<span></h3>
    <p class="w-5/6 lg:w-4/5 pt-5  text-lg lg:text-md p-text text-justify">
    For pilots seeking a reliable Fixed-Base Operator (FBO), Pitcairn Aviation LLC offers a comprehensive array of services aimed at enhancing your flying experience. From efficient refueling options to secure hangar rentals and a host of essential amenities, our FBO caters to your every need. Our strategically located facility at Heritage Field Airport (KPTW) in Pottstown, PA, just three miles east of the city, ensures easy accessibility. 
   </p>
   <p class="w-5/6 lg:w-4/5 pt-5  text-lg lg:text-md p-text text-justify">
     Operating under the UTC -5 time zone (UTC -4 during Daylight Saving Time), our FBO is open to the public and manned from Monday to Friday, 7 AM to 8 PM, and on weekends from 7 AM to 6 PM. Equipped with all the necessary innovations, Pitcairn Aviation LLC is here for your convenience. At Pitcairn Aviation LLC, we understand the needs of pilots and aim to provide top-notch service to ensure a seamless and enjoyable aviation experience. After all, we’re pilots too!
    </p>

    <p class="w-5/6 lg:w-4/5 pt-5  text-lg lg:text-md p-text text-justify">
    Read below for pertinent FAA information about Pitcairn Aviation LLC FBO and Heritage Field Airport.
    </p>
  
  </div>
  <div class="flex flex-col items-center lg:w-1/2">
    <%=image_tag "plane-park.webp", alt: "Cessna 172 airplane outside the hangar at Pitcairn Aviation LLC at Heritage Field Airport", class: "lg:w-4/5 lg:rounded-2xl lg:drop-shadow-2xl"%>
  </div>
</section>







<!-- body2 -->
<div class="text-center p-8 bg-gradient-to-t lg:bg-gradient-to-l from-gray-100 to-gray-300">
    <h2 class="font-bold text-2xl sm:text-3xl md:text-4xl lg:text-3xl">
    FAA Information and Airport Details 
    </h2>
    <h2 class="font-bold text-2xl sm:text-3xl md:text-4xl lg:text-3xl">
   <span class="font-bold text-red-600">EFFECTIVE NOVEMBER 30, 2023</spam>
    </h2>
    <div class="flex flex-wrap items-center mt-20 text-left text-center">
        <div class="w-full md:w-3/5 lg:w-1/2 px-4">
            
            <%=image_tag "K-2_K-3_Autogiro_USAF.webp", alt: "", class: "nline-block lg:rounded-2xl shadow-lg border border-merino-400"%>    
        </div>
        <div class="w-full md:w-2/5 lg:w-1/2 px-4 text-center md:text-left lg:pl-12">
            <h3 class="font-bold mt-8 text-xl md:mt-0 sm:text-2xl">
             Location
            </h3>
            <p class=" text-lg lg:text-md p-text mt-6">
            

FAA Identifier: PTW <br>
Lat/Long: 	40-14-22.4000N 075-33-24.2000W <br>
40-14.373333N 075-33.403333W
40.2395556,-75.5567222
(estimated)<br>
Elevation: 	308.2 ft. / 93.9 m (surveyed)<br>
Variation: 	12W (1990) <br>
From city: 	3 miles E of POTTSTOWN, PA<br>
Time zone: 	UTC -5 (UTC -4 during Daylight Saving Time)<br>
Zip code: 	19464
            </p>
        </div>
    </div>

    <div class="flex flex-wrap items-center mt-20 text-left text-center">
        <div class="w-full md:w-3/5 lg:w-1/2 px-4">
        <%=image_tag "fly-plane.webp", alt: "Student pilot taking a discovery flight", class: "nline-block lg:rounded-2xl shadow-lg border border-merino-400"%>    
        </div>
        <div class="w-full md:w-2/5 lg:w-1/2 px-4 md:order-first text-center md:text-left lg:pr-12">
            <h3 class="font-bold mt-8 text-xl md:mt-0 sm:text-2xl">
            Airport Operations
            </h3>
            <p class=" text-lg lg:text-md p-text mt-6">
           
            Airport use: Open to the public<br>
            Activation date: 	04/1938<br>
            Control tower: 	no<br><br>
            ARTCC: 	NEW YORK CENTER<br>
            FSS: 	WILLIAMSPORT FLIGHT SERVICE STATION<br>
            NOTAMs facility: 	PTW (NOTAM-D service available)<br>
            Attendance: 	MON-FRI 0700-2000, ALL SAT-SUN 0700-1800<br>
            Wind indicator: 	lighted<br>
            Segmented circle: 	yes<br>
            Lights: 	ACTVT MIRL RWY 10/28 - 122.7.<br>
            Beacon: 	white-green (lighted land airport)<br>
            ACTVT ROTG BCN - 122.7.<br>
            Landing fee: 	yes<br>
            </p>
        </div>
    </div>


</div>



<!--  body3 -->




<%= render "shared/footer"%>
<!--Sticky div-->
</div>
